@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf');
}
body {
  font-family: 'Roboto';
  background: rgb(19, 19, 19);
}

.parent {
  display: grid;
  height: 100%;
  background: lightgrey;  
  place-items: center;
}

.child {
  width: 100px;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid blue;
  background: lightskyblue;
  font-size: 30px;
  text-align: center;
  font-weight: 600;
}