@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf');
}
body {
  font-family: 'Roboto';
  background: rgb(19, 19, 19);
}

.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.grid > div:nth-child(1) {
  background-color: #15CF72;
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}